* {
    box-sizing: border-box;
}

@font-face {
    font-family: "ScoreBoard";
    src: url("/fonts/scoreboard.ttf") format("truetype");
}

html,
body,
#root {
    margin: 0;
    font-family: "ScoreBoard", sans-serif;
    padding: 0;
}

#root {
    width: 100%;
    height: 100vh;
}

.score {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-menu,
.menu-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-screen button {
    background-color: black;
    color: white;
    border: 4px solid white;
    padding: 1rem 2rem;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    transition: all 0.2s;
    font-size: 1.2rem;
    margin: 0;
    font-family: "ScoreBoard", sans-serif;
    letter-spacing: 8px;
    font-weight: bold;
}

.menu-screen ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border: 4px solid white;
    border-radius: 10px;
}

.menu-screen button:hover {
    background-color: white;
    color: black;
}

.menu-screen .credit-label {
    font-size: 2.2rem;
    color: white;
}

.menu-screen ul li {
    display: flex;
    justify-content: space-between;
}

.menu-screen ul li .credit-label {
    margin: 0;
}

.menu-screen ul li .contributor-label {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.menu-screen ul li .contributor-label a {
    color: white;
}

.main-menu h1 {
    font-size: 8rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}

.main-menu button {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 1.5rem 2rem;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.main-menu button {
    background-color: black;
    color: white;
    border: 4px solid white;
    padding: 1.5rem 2rem;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    transition: all 0.2s;
    font-size: 2rem;
    margin: 0;
    font-family: "ScoreBoard", sans-serif;
    letter-spacing: 8px;
    font-weight: bold;
}

.main-menu button:hover {
    background-color: white;
    color: black;
}

body {
    background-color: black;
    color: white;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: black;
}