* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "ScoreBoard";
  src: url("/fonts/scoreboard.ttf") format("truetype");
}

html,
body,
#root {
  margin: 0;
  font-family: "ScoreBoard", sans-serif;
  padding: 0;
}

a {
  color: white;
}

ul {
  list-style: none;
}

#root {
  width: 100%;
  height: 100vh;
}

.score {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

body {
  background-color: black;
  color: white;
}

.loading {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: black;
}

.gamemode-chooser {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}

.gamemode-chooser-button {
  background-color: black;
  color: white;
  border: 4px solid white;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s;
  font-size: 1.2rem;
  margin: 0;
  font-family: "ScoreBoard", sans-serif;
  letter-spacing: 8px;
  font-weight: bold;
}

.gamemode-chooser-button:hover {
  background-color: white;
  color: black;
}

.win-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
  border: 4px solid white;
  gap: 2rem;
  padding: 2rem 4rem;
  border-radius: 10px;
  background-color: black;
  opacity: 0.8;
}

.win-screen h2 {
  font-size: 4rem;
  margin: 0;
}

.win-screen button {
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
  border: 4px solid white;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s;
  font-size: 1.2rem;
  margin: 0;
  font-family: "ScoreBoard", sans-serif;
  letter-spacing: 8px;
  font-weight: bold;
}

.win-screen button:hover {
  background-color: white;
  color: black;
}
